/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
/* GENERALI */
:root {
    --primary-color: #000;
    --primary-color-light: #141922;
    --secondary-color: #fff;
    --secondary-color-light: #717171;
    --grey-color: #282828;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.d-flex {
    display: flex;
}

.btn {
    float: right;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    margin: 1.8rem 0.2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 30px;
}

ul {
    list-style: none;
}

ul li {
    line-height: 2rem;
}

ul li a {
    text-decoration: none;
}

.scroll {
    overflow-y: scroll;
}


/* MAIN */
main {
    height: 90vh;
}

aside {
    width: 15rem;
    flex-shrink: 0;
    z-index: 30;
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
}

aside ul li a, aside ul li a:active, aside hr {
    color: var(--secondary-color-light);
}


.home,
.fa-house,
aside h3,
aside h4 {
    color: var(--secondary-color);
}

aside h4 i {
    color: var(--secondary-color-light);
}

#upper-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 6rem;
    z-index: 1;
    flex-shrink: 0;
    background-color: #080b1276;
}

#main-page {
    width: 100%;
    padding-top: 7rem;
    background-color: var(--primary-color-light);
}

.logo {
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

aside > div {
    margin: 0 1.5rem;
}

.aside-cont {
    margin: 0 1.5rem;
}

.aside-cont ul li {
    padding-top: 0.5rem;
}

.aside-cont ul li > * {
    vertical-align: middle;
}

.playlist-cont {
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
    margin-top: 0.8rem;
}

.playlist-cont h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
}

.playlist-cont .plus-playlist {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.playlist-cont .plus-playlist h4 i {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.fa-plus {
    padding: 0.4rem;
    font-size: 2rem;
    background-color: var(--secondary-color-light);
    color: var(--primary-color);
}

.aside-bottom p {
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

.aside-bottom i {
    vertical-align: middle;
}

.aside-bottom h4 {
    vertical-align: middle;
    padding-top: 0.5rem;
}












/* FOOTER */
footer {
    height: 10vh;
    background-color: var(--grey-color);
}
/* MEDIA QUERY */
